/* No Select */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  overflow: hidden;  
}

/* Strip Carousel */
.strip-carousel {  
  width: 100%;  
  display: inline-block;
  position: relative;
  overflow: hidden;
}

/* Strip Carousel Frames */
.frames {
  width: 100%;
  height: 80%;
  display: inline-block;
  position: relative;
  padding: 0;
}

/* Strip Carousel Frame */
.frame {
  height: 100%;
  float: left;
  margin-right: 15px;
  margin-left: 0;
  transition: transform 0.8s;
  border-radius: 5px;  
  
  -webkit-box-shadow: 0px 10px 10px -7px rgba(0,0,0,1);
  -moz-box-shadow: 0px 10px 10px -7px rgba(0,0,0,1);
  box-shadow: 0px 10px 10px -7px rgba(0,0,0,1);
}

/* Strip Carousel Frame Hover */
.frame:hover {  
  transform: scale(1.04);
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.6), 0px 10px 10px -7px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.6), 0px 10px 10px -7px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.6), 0px 10px 10px -7px rgba(0,0,0,1);
}

/* Navigation Arrows */
.strip-carousel .arrow-left, 
.strip-carousel .arrow-right {  
  display: none;
  position: absolute;  
  margin: 0;
  padding: 0;  
  font-family: 'Advent Pro', sans-serif;
  font-size: 70px;
  font-weight: 300;
  color: white; 
  text-align: center;  
  z-index: 9999;
}

/* Navigation Arrow Left */
.strip-carousel .arrow-left {
  float: left;
  left: 0;
}

/* Navigation Arrow Right */
.strip-carousel .arrow-right {
  float: right;
  right: 0;
}

/* Navigation Arrow Left & Right Hover */
.strip-carousel .arrow-left:hover , 
.strip-carousel .arrow-right:hover {
  cursor: pointer;
}

/* Section Title */
.wrapper span a {
  width: 90%;
  height: 25px;
  
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 25px;
  
  padding: 0;
  
  color: white;
  text-decoration: none;
  cursor: default;
}

/* Section Title Hover */
.wrapper span a:hover {
  text-decoration: none;
  cursor: default;
}